<manifest xmlns:android="http://schemas.android.com/apk/res/android" >

    <!-- ✅ Internet permission (required for network access) -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- ✅ Optional (for checking Wi-Fi / cellular, especially on older APIs) -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
		android:hardwareAccelerated="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.ActivitySplash"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
			android:hardwareAccelerated="true"
            android:name=".activity.GridActivity"
            android:exported="false" />
        <activity
			android:hardwareAccelerated="true"
            android:name=".activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PlayerActivity"
		
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:hardwareAccelerated="true" />
    </application>

</manifest>